<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moodswing"
    xmlns:tools="http://schemas.android.com/tools">

    // Connection permissions
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    // Camera related permissions
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    // Facebook permissions
    <uses-permission android:name="android.permission.INTERNET"/>

    // For Google Play
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".MoodSwingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/mainicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:label">
        <activity android:name=".activity.JournalActivity"
            android:theme="@style/NoBarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/NoBarAppTheme"/>
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/NoBarAppTheme"
            />
        <activity
            android:name=".activity.FullScreenImageActivity"
            android:theme="@style/NoBarAppTheme"/>
        <activity android:name=".activity.EditProfileActivity"
            android:theme="@style/AppTheme"
            android:label="Edit Profile"/>
        <activity
            android:name=".activity.NewEntryActivity"
            android:theme="@style/AppTheme"
            android:label="New Journal Entry"/>
        <activity
            android:name=".activity.EditEntryActivity"
            android:theme="@style/AppTheme"
            android:label="Edit Journal Entry"/>
        <activity
            android:name=".activity.CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/NoBarAppTheme"
            />
        <activity
            android:name=".activity.CaptureActivity"
            android:theme="@style/NoBarAppTheme"
            android:label="Capture"/>
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme"
            android:label="Search"/>
        <activity
            android:name=".activity.FollowingActivity"
            android:theme="@style/AppTheme"
            android:label="Following"/>
        // Faceboook
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider100716993800806"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>
</manifest>